<%= form_for(@suggested_keyword) do |f| %>
  <% if @suggested_keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suggested_keyword.errors.count, "error") %> prohibited this suggested_keyword from being saved:</h2>

      <ul>
      <% @suggested_keyword.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :keyword %><br />
    <%= f.text_field :keyword %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
