

<div class="container">

  <div class="content">
    <div class="page-header">
      <h1>Seedr<small>find and decide what to post</small></h1>
    </div>
    <div class="row">
      <div class="span6">
               <div class="span7">           
        <h3>Source</h3>
  <div style="float: left; width: auto;">      <%= button_to "Add RSS Sources",'/rss_sources/new' , {:method => :get,:class => "btn-primary" } %> </div>
	<div style="float: left; width: auto;"> <%= button_to "Edit RSS Sources",'/rss_sources' , {:method => :get,:class => "btn-primary" } %> </div>
        </div>
        <div class="span7">        
        
	        <h3>Search Bins</h3>

          <div style="float: left; width: auto;"><%= button_to "Add search bin", {:controller => 'search_bins', :action => "new" },{:class => "btn-primary" } %>
          </div>
	  <div style="float: left; width: auto;">
	    <%= button_to "Edit search bins",'/search_bins' , {:method => :get,:class => "btn-primary" } %>
	  </div>
	  </div>
        <div class="span7">        
	        <h3>Twitter Accounts</h3>
	  <div style="float: left; width: auto;">
            <%= button_to "Add Twitter Account", {:controller => 'twitter_accounts', :action => "new" },{:class => "btn-primary" } %>
          </div>
          <div style="float: left; width: auto;">
            <%= button_to "Edit Twitter Accounts", {:controller => 'twitter_accounts', :action => "index" },{:class => "btn-primary",:method => :get } %>
          </div>                            

        
      </div>
    </div>
    
    <footer>
      <p>&copy; Seedr 2012</p>
    </footer>

  </div> <!-- /container -->
  <script src="/js/bootstrap-collapse.js"></script>

