<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @prospective_user.email %>
</p>

<p>
  <b>Comment:</b>
  <%= @prospective_user.comment %>
</p>


<%= link_to 'Edit', edit_prospective_user_path(@prospective_user) %> |
<%= link_to 'Back', prospective_users_path %>
