   <div class="news">
         
              <div align="center" >
                <a  class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%=  'news'+news.id.to_s() %>">    
                  <%=  news.title %>	
                </a>

		  <div id="<%= 'news'+news.id.to_s() %>" class="accordion-body collapse">
		  
                <div class="accordion-inner">
						 <%= news.message %>   
                </div>
              </div>
              </div>
             <div class="span3" align="left" >
              From <% if news.source==1 %>  Twitter <% else %> RSS <%end%>
              </div>
	      <div align="right">
	      <button  align="right" class="btn btn-info" onclick="copyText(<%= news.id %>)")>Compose</button> <br>
	      </div>
	    </div> 
