
  
    <div class="container">    
      
    	
      <div class="content">    
 		
       
        <div class="page-header">
          <h1>SocialCurator<small>find and decide what to post</small></h1>
        </div>	
        <div class="row">
          <div class="span7">                
          
	    <div class="news_header">
	    <div class="span3">
            <h2>Ranked News</h2>
            </div>
            <form method="get" action="/reader/index">               
               <%= collection_select("post", :search_id, @search_bins, :id, :bin_name)%>
               <INPUT type="image" name="search" src="/images/icon_refreshing.png" border="0">
            </form>
	  </div>
	   
	   <%= render(:partial => "news" , :collection => @news) %>

	  


	

	   




	 </div>
      
       
    
    
  <div class="span3">
  	   <div class="news_header">
            <h2>Scheduled Post</h2>
	  </div>
   <div  id="fixesdModal">
      <div class="modal-header">        
        <h3>Post News</h3>
      </div>
     
      
	 <form method="link" action="/twitter_manager/post">
	  <label>New Message</label>
	  <textarea id="message" rows="4" placeholder="messages" name='post_message' maxlength = "140"> <%= @message %></textarea><br />
	  <input type="checkbox" name="Facebook" value="Facebook" /> Facebook<br />
	  <input type="checkbox" name="Twitter" value="Twitter" /> Twitter<br />
	   <input type="checkbox" name="Linkedin" value="Linkedin" /> Linkedin<br />
		          	           
	
   <input data-datepicker="datepicker" class="small" type="text" value="<%= Time.now%>"/>
	 <input class="mini" type="text" value=<%= Time.now.hour.to_s()+":"+Time.now.min.to_s()%> />
            <button type="submit" class="btn btn-primary" >Post to these accounts</button>
           <!--<%= button_to "Post to these accounts", {:controller => 'twitter_manager', :action => "post" },{:class => "btn-primary" } %> 
               -->            
      </form>       
      
    </div>
 
	  
  </div>      
      </div>         
		</div>

      <footer>
        <p>&copy; Big Data 2012</p>
      </footer>

    </div> <!-- /container -->
   	
   
  
    <script src="http://code.jquery.com/jquery-1.7.min.js"></script>    
	   <script src="/js/bootstrap-datepicker.js"></script>
     <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    
    <script src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" >
  	  function copyText(id)
  	  {
  	  	   var str = $("#news"+id).text();  	  
   	  	$("#message").text($.trim(str))
  	  }
	</script>

	 <script>	
      /* Update datepicker plugin so that MM/DD/YYYY format is used. */
      $.extend($.fn.datepicker.defaults, {
        parse: function (string) {
          var matches;
          if ((matches = string.match(/^(\d{2,2})\/(\d{2,2})\/(\d{4,4})$/))) {
            return new Date(matches[3], matches[1] - 1, matches[2]);
          } else {
            return null;
          }
        },
        format: function (date) {
          var
            month = (date.getMonth() + 1).toString(),
            dom = date.getDate().toString();
          if (month.length === 1) {
            month = "0" + month;
          }
          if (dom.length === 1) {
            dom = "0" + dom;
          }
          return month + "/" + dom + "/" + date.getFullYear();
        }
      });  
    </script>
