<script type="text/javascript" src="/js/jquery-ui-1.8.19.custom.min.js"></script>    
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/bootstrap-collapse.js"></script>
<script src="/js/bootstrap-transition.js"></script>
<script src="/js/bootstrap-modal.js"></script>
<script>
	function copyText(id)
  	{
		var str = $("#news"+id).text();  	  
   	  	$("#message").text($.trim(str));
  	}
	function showdiv(id)
  	{
	  var state = document.getElementById(id).style.display;          
	  if (state == 'block') {
	document.getElementById(id).style.display = 'none';
	$("#btn_show_weight").text("Adjust Rankings")
	  } else
	  {
          document.getElementById(id).style.display = 'block';
	  $("#btn_show_weight").text("Hide Rankings")
          }
  	}
</script>

<script>
/* Update datepicker plugin so that MM/DD/YYYY format is used. */
	$.extend($.fn.datepicker.defaults, {
        parse: function (string) {
          var matches;
          if ((matches = string.match(/^(\d{2,2})\/(\d{2,2})\/(\d{4,4})$/))) {
            return new Date(matches[3], matches[1] - 1, matches[2]);
          } else {
            return null;
          }
        },
        format: function (date) {
          var
            month = (date.getMonth() + 1).toString(),
            dom = date.getDate().toString();
          if (month.length === 1) {
            month = "0" + month;
          }
          if (dom.length === 1) {
            dom = "0" + dom;
          }
          return month + "/" + dom + "/" + date.getFullYear();
        }
      });  
</script>
  
	
  
    <div class="container">    
      
    	
      <div class="content">    
 		
      <div class="span5">
	 <h2> <%= @message %> </h2>
      </div>
        <div class="page-header">
          <h1>Seedr<small>find and decide what to post</small></h1>
        </div>		   
	<div id="sliders" class="span12" style="display: none">
		<div class="span5">
	<div class="span3">Control Ranking Priorities (for tweets only)	</div>
<div id="slider_callout_friends" align="center"></div><div id="slider_friends"></div>
           <h5>Importance of friends' (and friends of friends' ) tweets</h5>
	  
<div id="slider_callout_keywords" align="center"></div> <div id="slider_keywords"></div>
  <h5>Relevance of Search Bin Keywords</h5>

<div id="slider_callout_hasurl" align="center"></div><div id="slider_hasurl"></div>
	    <h5>Presence of a URL</h5> 

<div id="slider_callout_retweets" align="center"></div><div id="slider_retweets"></div>
	    <h5>Number of Retweets</h5> 

<div id="slider_callout_freshness" align="center"></div><div id="slider_freshness"></div>	  
	    <h5>Freshness (Recency)</h5> 	    
	    <div align="center">
	    </div>
	    </div>
	    <div class="span5">
		Seedr automatically assigns priorities to different criteria to determine ranking. 
		However, users have the ability to adjust the relative importance of the criteria for each search bin.
		For example: To increase the priority of freshness while reducing the priority of keywords, 
		move the freshness slider to the right and keywords slider to the left
	</div>
        </div>
	
	    
        <div class="row">
          <div class="span7">

<div class="news_header">

	    <div class="span3">
            <h2>Ranked News</h2>
	    
            </div>
	    <button  id="btn_show_weight" align="right" class="btn btn-info" onclick="showdiv('sliders')">Adjust weights</button>
            <form method="get" action="/reader/index">               
               <%= collection_select("post", :search_id, @search_bins, :id, :bin_name, { :selected => @search_id.to_s()} )%>
	       
	       <input type="hidden" id="weight_friends_input" name="weight_friends" >
	       <input type="hidden"   id="weight_keywords_input" name="weight_keywords" >
	       <input type="hidden"  id="weight_hasurl_input" name="weight_hasurl" >
	       <input type="hidden" id="weight_retweets_input" name="weight_retweets" >
	       <input type="hidden"  id="weight_freshness_input" name="weight_freshness" >
               <INPUT type="image" name="search" src="/images/icon_refreshing.png" border="0">
            </form>
	  </div>
           <div id="news_all">
	   <%= render(:partial => "news" , :collection => @news) %>
           </div>
	   <%= will_paginate @news%>


	

	   




	 
	</div>      
       
    <div class = "leftcontainer">
	</div>
    
  <div class="span3">
  	   <div class="news_header">
            <h2>Scheduled Post</h2>
	  </div>
   <div  id="fixesdModal">
      <div class="modal-header">        
        <h3>Post News</h3>
      </div>
     
      
	 <form method="link" action="/twitter_manager/post">
	  <label>New Message</label>
	  <textarea id="message" rows="4" placeholder="messages" name='post_message'> <%= @message %></textarea><br />
<!---	  <input type="checkbox" name="Facebook" value="Facebook" /> Facebook<br /> --->
	  <input type="checkbox" name="Twitter" value="Twitter" /> Twitter<br />
 <!--- 	   <input type="checkbox" name="Linkedin" value="Linkedin" /> Linkedin<br /> ---->
		          	           
	
 <!---  <input data-datepicker="datepicker" class="small" type="text" value="<%= Time.now%>"/>
	 <input class="mini" type="text" value=<%= Time.now.hour.to_s()+":"+Time.now.min.to_s()%> />   ---->
            <button type="submit" class="btn btn-primary" >Post to these accounts</button>
           <!--<%= button_to "Post to these accounts", {:controller => 'twitter_manager', :action => "post" },{:class => "btn-primary" } %> 
               -->            
      </form>       
      
    </div>
 
	  
  </div>      
      </div>         
		</div>

      <footer>
        <p>&copy; Seedr 2012</p>
      </footer>

    </div> <!-- /container -->
   


<script>
      $(function() {
	$( "#tabs" ).tabs();


         $("#slider_friends").slider({
        range: false,
        value: [<%= @weight_friends %>],
        min: 0,
        max: 100,
        create: function(e, ui) {
		$('#slider_callout_friends').text(<%= @weight_friends %>);
                $("#weight_friends_input").val(<%= @weight_friends %>);
	},
        slide: function(e, ui) {
		$('#slider_callout_friends').text(Math.round(ui.value));
                $("#weight_friends_input").val(Math.round(ui.value));
     
        },      
        stop: function(e, ui) {
           $.ajax({url: '<%= url_for :action => 'index'%>',
           data: "weight_friends="+$('#slider_friends').slider("value")+"&weight_keywords="+$('#slider_keywords').slider("value")+"&weight_freshness="+$('#slider_freshness').slider("value")+"&weight_retweets="+$('#slider_retweets').slider("value")+"&weight_hasurl="+$('#slider_hasurl').slider("value")+"&search_id="+$("#post_search_id").val(),
           dataType: 'script'});    
        }	
        }); 
        $("#slider_keywords").slider({
        range: false,
        value: [<%= @weight_keywords %>],
        min: 0,
        max: 100,
        create: function(e, ui) {
		$('#slider_callout_keywords').text(<%= @weight_keywords %>);
                $("#weight_keywords_input").val(<%= @weight_keywords %>);
	},
        slide: function(e, ui) {
		$('#slider_callout_keywords').text(Math.round(ui.value));
                $("#weight_keywords_input").val(Math.round(ui.value));
              
	},
stop: function(e, ui) {
           $.ajax({url: '<%= url_for :action => 'index'%>',
           data: "weight_friends="+$('#slider_friends').slider("value")+"&weight_keywords="+$('#slider_keywords').slider("value")+"&weight_freshness="+$('#slider_freshness').slider("value")+"&weight_retweets="+$('#slider_retweets').slider("value")+"&weight_hasurl="+$('#slider_hasurl').slider("value")+"&search_id="+$("#post_search_id").val(),
           dataType: 'script'});    
        }
        }); 
         $("#slider_hasurl").slider({
        range: false,
        value: [<%= @weight_hasurl %>],
        min: 0,
        max: 100,
        create: function(e, ui) {
		$('#slider_callout_hasurl').text(<%= @weight_hasurl %>);
                $("#weight_hasurl_input").val(<%= @weight_hasurl %>);
	},
        slide: function(e, ui) {
		$('#slider_callout_hasurl').text(Math.round(ui.value));
                $("#weight_hasurl_input").val(Math.round(ui.value));
	},
stop: function(e, ui) {
           $.ajax({url: '<%= url_for :action => 'index'%>',
           data: "weight_friends="+$('#slider_friends').slider("value")+"&weight_keywords="+$('#slider_keywords').slider("value")+"&weight_freshness="+$('#slider_freshness').slider("value")+"&weight_retweets="+$('#slider_retweets').slider("value")+"&weight_hasurl="+$('#slider_hasurl').slider("value")+"&search_id="+$("#post_search_id").val(),
           dataType: 'script'});    
        }
        }); 
      
         $("#slider_retweets").slider({
        range: false,
        value: [<%= @weight_retweet %>],
        min: 0,
        max: 100,
        create: function(e, ui) {
		$('#slider_callout_retweets').text(<%= @weight_retweet %>);
                $("#weight_retweets_input").val(<%= @weight_retweet %>);
	},
        slide: function(e, ui) {
		$('#slider_callout_retweets').text(Math.round(ui.value));
                $("#weight_retweets_input").val(Math.round(ui.value));
	},
stop: function(e, ui) {
           $.ajax({url: '<%= url_for :action => 'index'%>',
           data: "weight_friends="+$('#slider_friends').slider("value")+"&weight_keywords="+$('#slider_keywords').slider("value")+"&weight_freshness="+$('#slider_freshness').slider("value")+"&weight_retweets="+$('#slider_retweets').slider("value")+"&weight_hasurl="+$('#slider_hasurl').slider("value")+"&search_id="+$("#post_search_id").val(),
           dataType: 'script'});    
        }
        }); 

         $("#slider_freshness").slider({
        range: false,
        value: [<%= @weight_freshness %>],
        min: 0,
        max: 100,
        create: function(e, ui) {
		$('#slider_callout_freshness').text(<%= @weight_freshness %>);
                $("#weight_freshness_input").val(<%= @weight_freshness %>);
	},
        slide: function(e, ui) {
		$('#slider_callout_freshness').text(Math.round(ui.value));
                $("#weight_freshness_input").val(Math.round(ui.value));
	},
stop: function(e, ui) {
           $.ajax({url: '<%= url_for :action => 'index'%>',
           data: "weight_friends="+$('#slider_friends').slider("value")+"&weight_keywords="+$('#slider_keywords').slider("value")+"&weight_freshness="+$('#slider_freshness').slider("value")+"&weight_retweets="+$('#slider_retweets').slider("value")+"&weight_hasurl="+$('#slider_hasurl').slider("value")+"&search_id="+$("#post_search_id").val(),
           dataType: 'script'});    
      }
        }); 

       $("#post_search_id").change(function()
      {
         
      });

   });
</script> 
